{% extends "layout.twig" %}

{% block content %}

	<section>
	  <div class="feature__hero">
	  	<div class="row">
	  		<div class="small-12 columns">
			  	<!-- Theme Feature Widget -->
		  			{{widget('feature', 'featurehome', {
			        'defaultBgImg': asset("images/feature-t4.jpg"),
			        'positionTopPercentage': '0',
			        'header': '{{ profile.headline }}',
		  				'strapline': '{{ profile.strapline }}',
		  				'showBtn': false
				    })|raw}}
		    </div>
	  	</div>
	  	<section class="location">
			  <div class="row">
			  	<div class="small-12 columns text-center">
			  		<div><span class="heading">{{ profile.address }}</span></div>
			  		<div><span>{{ profile.address1 }}, {{ profile.address2 }} {{ profile.postalcode }}</span></div>
			  		<div>{{widget('content', 'featuretime', {content:'28th February, 2017 at 3:30pm'})|raw}}</div>
			  	</div>
			  </div>
			</section>
		</div>
	</section>
	
	<section class="main-content">
		<div class="row">
			<div class="small-12 columns text-center">
				<h2>{{widget('content', 'maincolumnheading', {content:'Lorum Ipsum'})|raw}}</h2>
			</div>
		</div>
		<div class="row">
	 		<div class="small-12 columns text-center">
	 			{{widget('content', 'maincolumn', {content:'<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra dapibus pharetra. Donec interdum eros eu
turpis pharetra et hendrerit est ornare. Etiam eu nulla sapien. Nullam ultricies posuere nunc, eget mollis nulla malesuada
quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra dapibus pharetra.</p><p>Donec interdum eros eu turpis pharetra et hendrerit est ornare. Etiam eu nulla sapien. Nullam ultricies posuere
nunc, eget mollis nulla malesuada quis.</p>'})|raw}}
	 		</div>
	 	</div>
		
		<div class="row collapse">
			<div class="small-12 columns">
			    {{zone('main')|raw}}
			</div>
		</div>
		
		<div class="row collapse">
			{{widget('gallery', 'imagegallery', {
			  'showTitle': true,
			  'showDescription': false,
			  'images':[
			    {
			      'url':asset("images/kissing.jpg"),
			      'title':'Wedding couple kissing'
			    },
			    {
			      'url':asset("images/chapel-exit.jpg"),
			      'title':'Wedding couple leaving the chapel'
			    },
			    {
			      'url':asset("images/pair-of-rings.jpg"),
			      'title':'Wedding rings'
			    }
			  ]
			})|raw}}
	  </div>
	  
	  <div class="row couple-contact">
			<div class="small-12 medium-6 columns">
				<p>{{ profile.companydescription }}</p>
				
				<p>
					{% if profile.phone %}T. {{ profile.phone }}<br />{% endif %}
					{% if profile.email %}E. {{ profile.email }}<br />{% endif %}
					{% if profile.address %}A. {{widget('companyaddress', 'featureaddress', {})|raw}}{% endif %}
				</p>
			</div>
			<div class="small-12 medium-6 columns">
				{{widget('map', 'googlemaps', {
				  'height': '150',
				  'zoom': '15',
				  'address': 'profile'
				})|raw}}
			</div>			
		</div>
	</section>
 
{% endblock %}
